{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.12.0"},
    {embryo, "0.4.0"}
]}.

{shell, [
    {apps, [em_disco]}
]}.

{relx, [
    {release, {em_disco, "0.1.0"}, [
        em_disco,
        sasl,
        inets
    ]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
